<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %><br>
    <%= select_tag(:category_id, options_for_select([["Food & Drink",8],["Attractions",1],["Conferences",2],["Pub Crawls",3],["Classical & Jazz",4],["Rythm & Bass",5],["Live Concert",6],["Commercial",7]]) , :prompt => "Select one!", :class => 'btn btn-primary dropdown-toggle')%>
  </div>

    <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :link, "Event Page Link" %><br>
    <%= f.text_field :link, class: "form-control" %>
  </div>

  <div class="form-inline">
    <%= f.label :date %><br>
    <%= f.date_field :date, class: "form-control" %>
  </div>
</br>
  <div class="form-group">
  <%= f.label :tags, "Tags (separated by commas)"%><br />
  <%= f.text_field :tag_list %>
</div>
<div>
    <%= f.submit 'Update', :class => 'btn btn-primary'%>
  </div>
<% end %>
